{% extends "base.html" %}
{% block title %}
  {{blogSystem.title}}--Manage Pictures
{% endblock title %} 
{% block content %}

{%if pics %}

<form action="/picture" method="post">
<h2>Manage Pictures (<a href="/picture/upload?action=add">add new picture</a>) </h2>
<table>
	<tr>
	    <th class="check-column" scope="col"><input type="checkbox" onclick="$('input[name=checks]').attr('checked',this.checked);"/></th>
		<th>Picture Name</th>
		<th>Picture URL</th>
		<th>Thumbnail</th>
	</tr>
{% for pic in pics %}
	<tr valign="middle">
        <th class="check-column" scope="row"><input type="checkbox"
			value="{{pic.key.id}}" name="checks" /></th>
		<td><a title='Edit "{{pic.picName}}"' href="/picture/upload?id={{pic.key.id}}&amp;action=edit">{{pic.picName}}</a></td>
		<td><a href="{{pic.picLink}}" >{{pic.picLink}}</a></td>
		<td><a href="/picture/show?img_id={{pic.key.id}}&amp;type=full" ><img src='/picture/show?img_id={{pic.key.id}}&amp;type=thumb'></img></a></td>
	</tr>
{% endfor %}
</table>
<br class="clear" />
<input type="submit" class="button-secondary delete" name="deleteit"
	value="Delete" />
</form>

{% else %}
No pictures
{% endif %}
{% endblock content %}