{% extends "base.html" %}
{% block title %}
  {{blogSystem.title}}--Manage Blogs
{% endblock title %} 
{% block content %}

{%if blogs %}

<form action="/admin/blogs" method="post">
<table>
	<tr>
		<th>Date</th>
		<th>Title</th>
	</tr>
{% for blog in blogs %}
	<tr valign="middle">
        <th class="check-column" scope="row"><input type="checkbox"
			value="{{blog.key.id}}" name="checks" /></th>
		<td>{{blog.createTimeStamp|date:"F jS, Y"}}</td>
		<td><a title='Edit "{{blog.title}}"' href="/admin/post?key={{blog.key}}&amp;action=edit">{{blog.title}}</a></td>
	</tr>
{% endfor %}
</table>
<br class="clear" />
<input type="submit" class="button-secondary delete" name="deleteit"
	value="Delete" />
</form>

{% else %}
No blogs
{% endif %}
{% endblock content %}
