<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ options.blog_name }}</title>
<link href="/static/style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ blog_link }}feed" />

<!-- Optional includes-->
{% block head %}
{% endblock %}
<!-- Optional includes END-->

</head>
<body>

<div id="menu">
	<a href="/">{{ options.blog_name }}</a>
	<br /><span id="blog_desc">{{ options.blog_desc }}</span>
</div>
<hr />

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
	{{ content }}
	{% block content %}
	{% endblock %}	
	
	</div>
	<!-- end content -->
	
	<!-- start sidebar -->
	<div id="sidebar">
	{% block sidebar %}	
		{{ sidebar }}		
	{% endblock %}
	</div>
	<!-- end sidebar -->

<div id="end_page">
	
</div>
</div>

<!-- end page -->
<div id="footer">
	<p>{% if user %}
		<a href="{{ logout_url }}">Logout</a> ||
	{% endif %} <a href="/admin/">Admin</a></p>
</div>

{% if not user %}

{% if options.analytics %}
<!-- Google analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("{{ options.analytics }}");
pageTracker._initData();
pageTracker._trackPageview();
</script>

{% endif %}
{% endif %}


</body>
</html>
