{% extends "base.html" %}
{% block title %} {{blog.title}} - {{blogsystem.title}} {% endblock title%}
{% block head_block %}
<script type="text/JavaScript">
function addComment2Page()
{   
	parent.location.reload();
   
   // $("#commentlist li:last").clone().appendTo("#commentlist")
}
function validateComment()
{
    if($("#commentform :text").fieldValue()[0]!= null)
    {
        if ($("#commentform :text").fieldValue()[0]== "")
        {
    		alert("Please input your name");
    		return false;           
        }
        value = $("#commentform :textarea").fieldValue()[3];
    }else
    {
    	value = $("#commentform :textarea").fieldValue()[0];
    }
	if (value == "")
	{
		alert("Please input comment");
		return false;
	}
	return true;
}
var options = {
	    success: addComment2Page,
	    beforeSubmit: validateComment
};


$(document).ready(function() {
 $('#commentform').ajaxForm(options);
});

</script>

{% endblock %}
{% block content%}

<div class="ctop"></div>
<div class="box">

{% if blog %}

<div id="post-{{blog.key}}">
<div class="nifty"><h2><a href="/{{blog.selfLink }}" rel="bookmark" title="Link to {blog.title}}">{{blog.title}}</a> <span class="date">{{blog.createTimeStamp|date:"F jS, Y"}}</span></h2></div>

{{ blog.content }}


</div>
</div>
<div class="cbottom"></div>
<div class="space"></div>
<div class="ctop"></div>
<div class="box">
{% include "comments.html" %}
</div>
<div class="cbottom"></div>
<div class="space"></div>


{% else %}
No blog
{%endif%}
{% endblock content%}

{%block sidebar %}
{% include "sidebar.html" %}
{%endblock sidebar %}