{% extends "base.html" %}
{% block title %} {{blog.title}} - {{blogsystem.title}} {% endblock title%}
{% block head_block %}
<script type="text/JavaScript">
function addComment2Page(data)
{   
   alert("Thanks for your comments");
   if($("#commentlist li:last").html()== null)
   {
	   $("#commentlist").append("<li>");
	   $("#commentlist li:last").append("<div>");
	   $("#commentlist li:last").append("<div>");
	   $("#commentlist li:last div:first").append("<a>");
	   $("#commentlist li:last div:first").append("<small>");
	   $("#commentlist li:last div:first").append("<br>");
	   $("#commentlist li:last div:first").append("<p>");
	   $("#commentlist li:last div:first small").append("<a>");

	   $("#commentlist li:last div a:first").attr("href",data.url);
	   $("#commentlist li:last div a:first").text(data.author);

	   $("#commentlist li:last div:first small").attr("class","commentmetadata");
	   $("#commentlist li:last div:last").attr("class","clear");
	   $("#commentlist li:last div:first").attr("class","comments");
	   $("#commentlist li:last div:first small").before(" On ");
	   fillTemplate(data);
	   
   }else
   {
	   $("#commentlist li:last").clone().appendTo("#commentlist");
	   fillTemplate(data);
   }   
}

function fillTemplate(data)
{
	
	$("#commentlist li:last").attr("id","comment-"+data.id);
	$("#commentlist li:last div a:first").attr("href",data.url);
	$("#commentlist li:last div a:first").text(data.author);
	$("#commentlist li:last div small a:first").attr("href","#comment-"+data.id);
	$("#commentlist li:last div small a:first").text(data.date+" at "+data.time);
	if($("#commentform :text").fieldValue()[0]!= null)
	{
		$("#commentlist li:last div p").text($("#commentform :textarea").fieldValue()[3]);
	}else
	{
		$("#commentlist li:last div p").text($("#commentform :textarea").fieldValue()[0]);
	}	 
}

function validateComment()
{
    if($("#commentform :text").fieldValue()[0]!= null)
    {
        if ($("#commentform :text").fieldValue()[0]== "")
        {
    		alert("Please input your name");
    		return false;           
        }
        value = $("#commentform :textarea").fieldValue()[3];
    }else
    {
    	value = $("#commentform :textarea").fieldValue()[0];
    }
	if (value == "")
	{
		alert("Please input comment");
		return false;
	}
	return true;
}
var options = {
		dataType:  'json', 
		beforeSubmit: validateComment,
		success: addComment2Page
};


$(document).ready(function() {
 $('#commentform').ajaxForm(options);
});

</script>

{% endblock %}
{% block content%}

<div class="ctop"></div>
<div class="box">

{% if blog %}

<div id="post-{{blog.key}}">
<div class="nifty"><h2><a href="/{{blog.selfLink }}" rel="bookmark" title="Link to {blog.title}}">{{blog.title}}</a> <span class="date">{{blog.createTimeStamp|date:"F jS, Y"}}</span></h2></div>

{{ blog.content }}


</div>
</div>
<div class="cbottom"></div>
<div class="space"></div>
<div class="ctop"></div>
<div class="box">
{% include "comments.html" %}
</div>
<div class="cbottom"></div>
<div class="space"></div>


{% else %}
No blog
{%endif%}
{% endblock content%}

{%block sidebar %}
{% include "sidebar.html" %}
{%endblock sidebar %}