{% extends "base.html" %}
{% block content %}

{% if not blogs %}
	<h2>No blogs</h2>
{% else %}

{% for blog in blogs %}
<div class="ctop"></div>
<div class="box">
<div class="nifty">
   <h2>
     <a href="/{{blog.selfLink}}" rel="bookmark" >{{blog.title}}</a> 
     <span class="date">{{blog.createTimeStamp|date:"F jS, Y"}}</span>
    </h2>
</div>
  {{blog.content|linebreaks}}
<div class="cbottom"></div>
<div class="space"></div>
</div>
{% endfor %}
{% endif %}

{% block comments %}

{% endblock comments%}


{% endblock content%}

{%block page %}

<div class="ctop"></div>
<div class="box">
<div class="page">
{% if pager.prev %}
   <div class="alignleft"><a href="?page={{ pager.prev}}">&laquo; Previous</a></div>
{% endif %}
    <div class="aligncenter">
        <span>
            Current Page:{{pager.page_index}} 
        </span>
        <span>  
             Total Pages:{{pager.last}}
        </span>
    </div>
{% if pager.next %}
   <div class="alignright"><a href="?page={{ pager.next }}">Next &raquo;</a></div>
{% endif %}
</div>
<div class="clear"></div>
</div>
<div class="cbottom"></div>
<div class="space"></div>

{%endblock page%}