{% extends "base.html" %}
{% block content %}

{% if not blogs %}
	<h2>No blogs</h2>
{% else %}

{% for blog in blogs %}
<div class="ctop"></div>
<div class="box">
<div class="nifty">
   <h2>
     <a href="/{{blog.link }}" rel="bookmark" >{{blog.title}}</a> 
     <span class="date">{{blog.createTimeStamp|date:"F jS, Y"}}</span>
    </h2>
</div>
  {{blog.content|linebreaks}}
<div class="cbottom"></div>
<div class="space"></div>
</div>
{% endfor %}
{% endif %}

{% block comments %}

{% endblock comments%}


{% endblock content%}
