<div class="sidebar">
<ul>
<h2>Mini Blog</h2>
<a href="http://fanfou.com/sunruijia" target="_blank" title="饭否"><img src="http://b.fanfou.com/u/sunruijia/m160_3.png" alt="饭否" /></a>
<li></li>

<li>
 <h2>Recent Blog</h2>
  <ul>
 	{%for blog in recentBlogs%}
  <li>	<a href="{{blog.selfLink}}">{{blog.title}}</a></li>
 	{%endfor%}
 	</ul>
</li>


<li>
    <h2>Recent Comments</h2>
        <ul>
        {% for comment in recentComments %}
        <li><a href="/{{comment.ownerBlog.selfLink}}#comment-{{comment.key.id}}">{{comment.author}}:{{comment.briefContent}}...</a> </li>
        {%endfor%}
        </ul>
        </li>



<li>
<h2>Friends' Link</h2>


<ul>
{%for link in links%}
<li><a href="{{link.linkURL}}">{{link.linkName}}</a></li>
{%endfor%}

</ul>
</li>
<li>
  <h2>Subscribe</h2>
    <ul>
      <li>
         <a href="http://fusion.google.com/add?feedurl={{blogSystem.feedURL}}" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_google.gif" alt="google reader" vspace="2" style="margin-bottom:3px" ></a>
      </li>
      <li>
         <a href="http://www.zhuaxia.com/add_channel.php?url={{blogSystem.feedURL}}" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_zhuaxia.gif" alt="&#25235;&#34430;" vspace="2" style="margin-bottom:3px" ></a>
      </li>
      <li>
         <a href="http://www.xianguo.com/subscribe.php?url={{blogSystem.feedURL}}" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_xianguo.gif" alt="&#40092;&#26524;" vspace="2" style="margin-bottom:3px" ></a>
      </li>
   </ul>
</li> 
  
</ul>


</div>