<div class="sidebar">
<ul>
<h2>Mini Blog</h2>
<a href="http://fanfou.com/sunruijia" target="_blank" title="饭否"><img src="http://b.fanfou.com/u/sunruijia/m160_3.png" alt="饭否" /></a>
<li></li>

<li>
 <h2>Recent Blog</h2>
  <ul>
 	{%for blog in recentBlogs%}
  <li>	<a href="{{blog.selfLink}}">{{blog.title}}</a></li>
 	{%endfor%}
 	</ul>
</li>


<li>
    <h2>Recent Comments</h2>
        <ul>
        {% for comment in recentComments %}
        <li><a href="/{{comment.ownerBlog.selfLink}}#comment-{{comment.key.id}}">{{comment.author}}:{{comment.briefContent}}...</a> </li>
        {%endfor%}
        </ul>
        </li>



<li>
<h2>Friends' Link</h2>


<ul>
{%for link in links%}
<li><a href="{{link.linkURL}}">{{link.linkName}}</a></li>
{%endfor%}

</ul>
</li>


</ul>


</div>